<div class="collapse-todo">
  <div class="collapse-todo-header">
    <div class="collapse-todo-title">
      <p>Lista</p>
    </div>
    <div class="collapse-todo-icon" (click)="isOpen = !isOpen" [ngClass]="{'__is-open': isOpen}">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="collapse-todo-content" *ngIf="isOpen">
    <app-list-items 
      [todoList]="todoList" 
      [emptyListMessage]="emptyListMessage"
      (eventResetList)="resetList()" 
      (eventUpdateState)="updateStatus()"
    >
    </app-list-items>
  </div>
</div>